 .bash_history
.gitconfig
.lesshst
.packettracer
3D Objects/
AppData/
Cisco Packet Tracer 8.2.0/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{549f67ad-7605-11ed-83aa-cacc166486e0}.TM.blf
NTUSER.DAT{549f67ad-7605-11ed-83aa-cacc166486e0}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{549f67ad-7605-11ed-83aa-cacc166486e0}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
git/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
